.grid-container {
  background: #F0EFE7;
  padding-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px #CCCCCC;

  .react-grid-Toolbar {
    background-color: #F0EFE7;
  }

  .grid-header {
    .grid-left-header {
      float: left;
      font-size: 16px;
      font-weight: bold;
      padding: 15px;
      text-transform: capitalize;
      color: #555555;

      .bottom-line {
        border-bottom: 3px solid #dc007a;
        width: 15px;
        margin: 13px 0;
      }
    }

    .grid-right-header {
      float: right;
      padding: 15px;
      font-size: 11px;
      text-transform: capitalize;
      color: #777777;

      i {
        padding: 6px;
      }
    }
  }

  .grid-area {
    height: 420px;

    .react-grid-Container {
      padding: 0 30px 30px;

      .react-grid-Main {
        outline: none;

        .react-grid-Grid {
          border: none;

          .react-grid-Header {
            background: #F0EFE7;

            .react-grid-HeaderCell {
              border: none;
              background: #F0EFE7;
              padding-left: 0;

              .form-group {
                margin-top: 0;
              }

              .react-grid-HeaderCell-sortable,
              .widget-HeaderCell__value {
                border-left: 1px solid #ccc;
                color: #777E89;
                font-weight: 600;
                font-size: 11px;
                text-transform: uppercase;
                padding-left: 20px;

                :nth-child(1) {
                  border-left: none;
                }
              }
            }
          }

          .react-grid-Viewport {
            border-top: 1px solid #CCCCCC;

            .react-grid-Canvas {
              background: #F0EFE7;

              .react-grid-Row {
                height: 50px !important;

                .react-grid-Cell {
                  border: none;
                  padding-left: 20px;
                  padding-top: 20px;
                  padding-bottom: 19px;
                  background: #F0EFE7;
                  color: #272A2F;
                  font-size: 13px;
                  font-weight: 600;
                  height: 50px !important;
                }
              }

              .alternate-row {
                .react-grid-Row {
                  .react-grid-Cell {
                    background: rgba(162, 195, 234, .35);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .grid-footer {
    .grid-footer-indicators {
      float: right;
      padding-right: 30px;
      padding-top: 5px;

      svg {
        margin: 6px;
        height: 15px;
        width: 15px;
        fill: #31708f;

        .cls-1 {
          fill: #31708f;
        }
      }
    }
  }
}
